name: Tests

on: [push, pull_request]

concurrency:
  group: tests-${{ format('{0}-{1}', github.head_ref || github.run_number, github.job) }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: ['4.0', 'head']

    name: ${{matrix.os}}, ${{matrix.ruby}}

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true # 'bundle install' and cache
    - name: Compile C-extension
      run: bundle exec rake compile
    - name: Run tests
      run: bundle exec ruby test/run.rb --verbose
      # run: bundle exec rake test
